In [1]:
import pandas as pd

In [5]:
#web scrapping is the process of automatically extracting data from  website using software often referred to as bots or web crawlers
#reading 1 csv file from the website
df_premier24=pd.read_csv('https://www.football-data.co.uk/mmz4281/2425/E0.csv')
df_premier24

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,25/05/2025,16:00,Newcastle,Everton,0,1,A,0,0,...,2.00,1.85,2.01,1.90,2.01,1.95,1.95,1.91,1.93,2.05
376,E0,25/05/2025,16:00,Nott'm Forest,Chelsea,0,1,A,0,0,...,1.80,2.05,1.86,2.08,1.86,2.08,1.81,2.05,1.86,2.14
377,E0,25/05/2025,16:00,Southampton,Arsenal,1,2,A,0,1,...,2.03,1.83,2.04,1.87,2.07,1.87,2.03,1.83,2.06,1.89
378,E0,25/05/2025,16:00,Tottenham,Brighton,1,4,A,1,0,...,1.95,1.90,2.00,1.93,2.01,1.93,1.95,1.89,2.06,1.93
379,E0,25/05/2025,16:00,Wolves,Brentford,1,1,D,0,1,...,1.85,2.00,1.90,2.03,1.90,2.05,1.85,1.97,1.89,2.10

In [7]:
#rename column
df_premier24.rename(columns={'FTHG':'Home_goals',
                            'FTAG':'Away_goals',
                           },inplace=True)
df_premier24

,Div,Date,Time,HomeTeam,AwayTeam,Home_goals,Away_goals,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,25/05/2025,16:00,Newcastle,Everton,0,1,A,0,0,...,2.00,1.85,2.01,1.90,2.01,1.95,1.95,1.91,1.93,2.05
376,E0,25/05/2025,16:00,Nott'm Forest,Chelsea,0,1,A,0,0,...,1.80,2.05,1.86,2.08,1.86,2.08,1.81,2.05,1.86,2.14
377,E0,25/05/2025,16:00,Southampton,Arsenal,1,2,A,0,1,...,2.03,1.83,2.04,1.87,2.07,1.87,2.03,1.83,2.06,1.89
378,E0,25/05/2025,16:00,Tottenham,Brighton,1,4,A,1,0,...,1.95,1.90,2.00,1.93,2.01,1.93,1.95,1.89,2.06,1.93
379,E0,25/05/2025,16:00,Wolves,Brentford,1,1,D,0,1,...,1.85,2.00,1.90,2.03,1.90,2.05,1.85,1.97,1.89,2.10

# READING CSV FROM MULTIPLE URLS WITH PANDAS

In [ ]:
https://www.football-data.co.uk/mmz4281/2425/E0.csv
https://www.football-data.co.uk/mmz4281/2425/E1.csv

In [9]:
#LINK STRUCTURE
"https://www.football-data.co.uk/mmz4281/"+"2425"+"/"+"E0"+".csv"

'https://www.football-data.co.uk/mmz4281/2425/E0.csv'

In [10]:
#CREATING A ROOT VARIABLE
root ="https://www.football-data.co.uk/mmz4281/"

In [ ]:
https://www.football-data.co.uk/mmz4281/2425/E0.csv
https://www.football-data.co.uk/mmz4281/2425/E1.csv
https://www.football-data.co.uk/mmz4281/2425/E2.csv
https://www.football-data.co.uk/mmz4281/2425/E3.csv
https://www.football-data.co.uk/mmz4281/2425/EC.csv

In [13]:
#CREATING A LIST OF LEAGUES
#if we encounter an error then add the (,encoding ='unicode_escape' )
leagues = ['E0','E1','E2','E3','EC']
frames=[]
for leagues in leagues:
    df=pd.read_csv(root+'2425'+'/'+leagues+'.'+'csv')
    frames.append(df)

In [14]:
#length of the frames 
len(frames)

5

In [18]:
frames[0]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E0,16/08/2024,20:00,Man United,Fulham,1,0,H,0,0,...,1.86,2.07,1.83,2.11,1.88,2.11,1.82,2.05,1.90,2.08
1,E0,17/08/2024,12:30,Ipswich,Liverpool,0,2,A,0,0,...,2.05,1.88,2.04,1.90,2.20,2.00,1.99,1.88,2.04,1.93
2,E0,17/08/2024,15:00,Arsenal,Wolves,2,0,H,1,0,...,2.02,1.91,2.00,1.90,2.05,1.93,1.99,1.87,2.02,1.96
3,E0,17/08/2024,15:00,Everton,Brighton,0,3,A,0,1,...,1.87,2.06,1.86,2.07,1.92,2.10,1.83,2.04,1.88,2.11
4,E0,17/08/2024,15:00,Newcastle,Southampton,1,0,H,1,0,...,1.87,2.06,1.88,2.06,1.89,2.10,1.82,2.05,1.89,2.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,25/05/2025,16:00,Newcastle,Everton,0,1,A,0,0,...,2.00,1.85,2.01,1.90,2.01,1.95,1.95,1.91,1.93,2.05
376,E0,25/05/2025,16:00,Nott'm Forest,Chelsea,0,1,A,0,0,...,1.80,2.05,1.86,2.08,1.86,2.08,1.81,2.05,1.86,2.14
377,E0,25/05/2025,16:00,Southampton,Arsenal,1,2,A,0,1,...,2.03,1.83,2.04,1.87,2.07,1.87,2.03,1.83,2.06,1.89
378,E0,25/05/2025,16:00,Tottenham,Brighton,1,4,A,1,0,...,1.95,1.90,2.00,1.93,2.01,1.93,1.95,1.89,2.06,1.93
379,E0,25/05/2025,16:00,Wolves,Brentford,1,1,D,0,1,...,1.85,2.00,1.90,2.03,1.90,2.05,1.85,1.97,1.89,2.10

In [21]:
frames[4]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,EC,10/08/2024,15:00,Aldershot,Forest Green,3,3,D,2,1,...,1.83,1.98,1.87,1.99,1.87,2.00,1.83,1.99,1.88,2.02
1,EC,10/08/2024,15:00,Altrincham,Woking,1,0,H,1,0,...,1.83,1.98,1.83,2.04,1.85,2.04,1.82,1.95,1.86,2.14
2,EC,10/08/2024,15:00,Boston Utd,Rochdale,0,3,A,0,2,...,1.85,1.95,1.88,1.98,1.88,1.98,1.84,1.93,1.92,2.00
3,EC,10/08/2024,15:00,Dag and Red,Wealdstone,2,1,H,0,0,...,1.90,1.90,1.89,1.95,1.91,1.95,1.87,1.88,1.91,2.06
4,EC,10/08/2024,15:00,Fylde,Solihull,3,2,H,1,2,...,1.78,2.03,1.76,2.10,1.80,2.10,1.76,2.01,1.80,2.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,EC,05/05/2025,15:00,Maidenhead,Boston Utd,3,0,H,1,0,...,1.80,2.00,1.80,2.07,1.81,2.07,1.77,2.02,1.83,2.13
548,EC,05/05/2025,15:00,Oldham,Ebbsfleet,2,0,H,1,0,...,1.85,1.95,1.88,1.98,1.90,1.98,1.87,1.91,1.94,1.90
549,EC,05/05/2025,15:00,Solihull,Dag and Red,1,1,D,0,1,...,1.98,1.83,1.96,1.89,1.98,1.89,1.95,1.84,2.02,1.91
550,EC,05/05/2025,15:00,Sutton,Woking,1,1,D,0,1,...,1.95,1.85,1.93,1.93,1.95,1.93,1.93,1.84,2.01,1.96
551,EC,05/05/2025,15:00,Wealdstone,Halifax,3,1,H,3,0,...,2.03,1.78,2.07,1.80,2.07,1.81,2.01,1.78,2.12,1.72

# MULTIPLE SEASONS

In [22]:
#loop through range of seasons and insert new column 
#creating list of leagues
leagues = ['E0','E2','E3']
frames=[]
for leagues in leagues:
    for season in range(15,25):
        df=pd.read_csv(root+str(season)+str(season+1)+'/'+leagues+'.'+'csv')
        df.insert(1,'season',season)
        frames.append(df)

In [23]:
len(frames)

30

In [26]:
frames[29]

,Div,season,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,...,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,BFECAHH,BFECAHA
0,E3,24,09/08/2024,20:00,Chesterfield,Swindon,1,1,D,1,...,1.83,2.03,1.86,2.03,1.89,2.05,1.83,1.97,1.91,2.06
1,E3,24,10/08/2024,15:00,AFC Wimbledon,Colchester,4,2,H,3,...,1.75,2.05,1.83,2.07,1.83,2.17,1.76,2.05,1.86,2.12
2,E3,24,10/08/2024,15:00,Barrow,Crewe,1,0,H,1,...,1.88,1.98,1.87,2.02,1.90,2.04,1.84,1.95,1.88,2.09
3,E3,24,10/08/2024,15:00,Cheltenham,Newport County,3,2,H,2,...,1.93,1.93,1.96,1.93,1.98,1.96,1.91,1.88,2.05,1.92
4,E3,24,10/08/2024,15:00,Doncaster,Accrington,4,1,H,1,...,1.93,1.93,1.95,1.93,1.95,1.98,1.89,1.89,1.98,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,E3,24,03/05/2025,15:00,Morecambe,Harrogate,1,2,A,1,...,1.78,2.10,1.74,2.12,1.78,2.18,1.73,2.09,1.81,2.22
548,E3,24,03/05/2025,15:00,Newport County,Tranmere,1,4,A,1,...,1.78,2.03,1.84,2.00,1.84,2.03,1.81,1.98,1.84,2.13
549,E3,24,03/05/2025,15:00,Notts County,Doncaster,1,2,A,0,...,1.80,2.05,1.79,2.06,1.81,2.12,1.76,2.05,1.85,2.15
550,E3,24,03/05/2025,15:00,Port Vale,Gillingham,0,1,A,0,...,2.03,1.83,2.04,1.81,2.05,1.83,2.00,1.80,2.09,1.86
551,E3,24,03/05/2025,15:00,Swindon,Milton Keynes Dons,0,0,D,0,...,2.03,1.83,1.99,1.85,2.04,1.86,1.98,1.83,2.11,1.86

# ORGANIZE ALL THE DATA IN A DICTIONARY

In [30]:
# create a dictionary with original name of league as key
dict_countries = {
              'Spanish La Liga':'SP1', 'Spanish Segunda Division':'SP2',
              'German Bundesliga':'D1', 
              'English Premier League':'E0', 'English League 1':'E2', 'English League 2':'E3',
             }

In [28]:
dict_countries['Spanish La Liga']

'SP1'

In [31]:
for leagues in dict_countries:
    print(dict_countries[leagues])

Spanish La Liga
Spanish Segunda Division
German Bundesliga
English Premier League
English League 1
English League 2

In [32]:
for leagues in dict_countries:
    print(dict_countries[leagues])

SP1
SP2
D1
E0
E2
E3

In [35]:
dict_historical_data={}

#leagues = ['E0','E2','E3']
for leagues in dict_countries:
    frames=[]
    for season in range(15,25):
        df=pd.read_csv(root+str(season)+str(season+1)+'/'+dict_countries[leagues]+'.'+'csv')
        df.insert(1,'season',season)
        frames.append(df)
    df_concat=pd.concat(frames)
    dict_historical_data[leagues]=df_concat

In [36]:
dict_historical_data

{'Spanish La Liga':      Div  season        Date    HomeTeam    AwayTeam  FTHG  FTAG FTR  HTHG  \
 0    SP1      15    21/08/15      Malaga     Sevilla     0     0   D     0
 1    SP1      15    22/08/15  Ath Madrid  Las Palmas     1     0   H     1
 2    SP1      15    22/08/15     Espanol      Getafe     1     0   H     1
 3    SP1      15    22/08/15   La Coruna    Sociedad     0     0   D     0
 4    SP1      15    22/08/15   Vallecano    Valencia     0     0   D     0
 ..   ...     ...         ...         ...         ...   ...   ...  ..   ...
 375  SP1      24  24/05/2025      Getafe       Celta     1     2   A     1
 376  SP1      24  24/05/2025   Vallecano    Mallorca     0     0   D     0
 377  SP1      24  25/05/2025      Girona  Ath Madrid     0     4   A     0
 378  SP1      24  25/05/2025  Villarreal     Sevilla     4     2   H     3
 379  SP1      24  25/05/2025  Ath Bilbao   Barcelona     0     3   A     0

      HTAG  ... 1XBCH  1XBCD  1XBCA  BFECH  BFECD  BFECA  BFEC>2.5  BFEC<2.5  \
 0       0  ...   NaN    NaN    NaN    NaN    NaN    NaN       NaN       NaN
 1       0  ...   NaN    NaN    NaN    NaN    NaN    NaN       NaN       NaN
 2       0  ...   NaN    NaN    NaN    NaN    NaN    NaN       NaN       NaN
 3       0  ...   NaN    NaN    NaN    NaN    NaN    NaN       NaN       NaN
 4       0  ...   NaN    NaN    NaN    NaN    NaN    NaN       NaN       NaN
 ..    ...  ...   ...    ...    ...    ...    ...    ...       ...       ...
 375     1  ...  4.85   3.88   1.77   5.30    3.9   1.79      2.08      1.89
 376     0  ...  1.53   4.19   7.29   1.50    4.6   8.20      2.10      1.87
 377     0  ...  3.48   3.57   2.16   3.50    3.7   2.24      1.60      2.64
 378     1  ...  1.75   4.42   4.30   1.80    4.3   4.60      1.60      2.62
 379     2  ...  3.49   4.00   2.03   3.35    4.0   2.18      1.47      3.05

      BFECAHH  BFECAHA
 0        NaN      NaN
 1        NaN      NaN
 2        NaN      NaN
 3        NaN      NaN
 4        NaN      NaN
 ..       ...      ...
 375     1.95     2.03
 376     1.85     2.14
 377     2.04     1.94
 378     2.03     1.95
 379     2.07     1.91

 [3800 rows x 153 columns],
 'Spanish Segunda Division':      Div  season        Date    HomeTeam    AwayTeam  FTHG  FTAG FTR  HTHG  \
 0    SP2      15    22/08/15    Alcorcon    Mallorca     2     0   H   1.0
 1    SP2      15    22/08/15     Cordoba  Valladolid     1     0   H   0.0
 2    SP2      15    22/08/15      Huesca      Alaves     2     3   A   0.0
 3    SP2      15    22/08/15  Llagostera     Osasuna     0     2   A   0.0
 4    SP2      15    23/08/15     Almeria     Leganes     3     2   H   3.0
 ..   ...     ...         ...         ...         ...   ...   ...  ..   ...
 457  SP2      24  01/06/2025   La Coruna       Elche     0     4   A   0.0
 458  SP2      24  01/06/2025     Levante       Eibar     1     0   H   0.0
 459  SP2      24  01/06/2025      Oviedo       Cadiz     2     1   H   2.0
 460  SP2      24  01/06/2025   Santander     Granada     2     1   H   1.0
 461  SP2      24  01/06/2025     Cordoba    Albacete     1     1   D   0.0

      HTAG  ... 1XBCH  1XBCD  1XBCA  BFECH  BFECD  BFECA  BFEC>2.5  BFEC<2.5  \
 0     0.0  ...   NaN    NaN    NaN    NaN    NaN    NaN       NaN       NaN
 1     0.0  ...   NaN    NaN    NaN    NaN    NaN    NaN       NaN       NaN
 2     1.0  ...   NaN    NaN    NaN    NaN    NaN    NaN       NaN       NaN
 3     0.0  ...   NaN    NaN    NaN    NaN    NaN    NaN       NaN       NaN
 4     0.0  ...   NaN    NaN    NaN    NaN    NaN    NaN       NaN       NaN
 ..    ...  ...   ...    ...    ...    ...    ...    ...       ...       ...
 457   3.0  ...  5.74   3.60   1.65   6.20   3.95   1.69      2.06      1.90
 458   0.0  ...  1.66   3.93   4.99   1.75   3.90   5.70      1.83      2.16
 459   1.0  ...  1.44   4.13   8.23   1.41   5.00  10.50      2.18      1.83
 460   1.0  ...  2.28   3.51   2.99   2.30   3.65   3.35      1.80      2.22
 461   1.0  ...  1.70   4.23   4.32   1.70   4.90   4.80      1.40      3.45

      BFECAHH  BFECAHA
 0        NaN      NaN
 1        NaN      NaN
 2        NaN      NaN
 3        NaN      NaN
 4        NaN      NaN
 ..       ...      ...
 457     2.08     1.89
 458     1.97     2.01
 459     2.02     1.94
 460     1.98     1.99
 461     1.85     2.15

 [4620 rows x 153 columns],
 'German Bundesliga':     Div  season        Date       HomeTeam       AwayTeam  FTHG  FTAG FTR  \
 0    D1      15    14/08/15  Bayern Munich        Hamburg     5     0   H
 1    D1      15    15/08/15       Augsburg         Hertha     0     1   A
 2    D1      15    15/08/15      Darmstadt       Hannover     2     2   D
 3    D1      15    15/08/15       Dortmund     M'gladbach     4     0   H
 4    D1      15    15/08/15     Leverkusen     Hoffenheim     2     1   H
 ..   ..     ...         ...            ...            ...   ...   ...  ..
 301  D1      24  17/05/2025     Hoffenheim  Bayern Munich     0     4   A
 302  D1      24  17/05/2025          Mainz     Leverkusen     2     2   D
 303  D1      24  17/05/2025     M'gladbach      Wolfsburg     0     1   A
 304  D1      24  17/05/2025     RB Leipzig      Stuttgart     2     3   A
 305  D1      24  17/05/2025       St Pauli         Bochum     0     2   A

      HTHG  HTAG  ... 1XBCH  1XBCD  1XBCA  BFECH  BFECD  BFECA  BFEC>2.5  \
 0     1.0   0.0  ...   NaN    NaN    NaN    NaN    NaN    NaN       NaN
 1     0.0   0.0  ...   NaN    NaN    NaN    NaN    NaN    NaN       NaN
 2     1.0   0.0  ...   NaN    NaN    NaN    NaN    NaN    NaN       NaN
 3     3.0   0.0  ...   NaN    NaN    NaN    NaN    NaN    NaN       NaN
 4     1.0   1.0  ...   NaN    NaN    NaN    NaN    NaN    NaN       NaN
 ..    ...   ...  ...   ...    ...    ...    ...    ...    ...       ...
 301   0.0   1.0  ...  4.83   4.58   1.65   5.00   4.70   1.69      1.35
 302   1.0   0.0  ...  2.57   3.99   2.56   2.46   3.95   2.90      1.51
 303   0.0   0.0  ...  2.31   4.21   2.78   2.34   4.30   2.88      1.38
 304   2.0   1.0  ...  1.89   4.59   3.54   2.04   4.40   3.45      1.35
 305   0.0   1.0  ...  1.77   4.19   4.43   1.77   4.20   4.90      1.69

      BFEC<2.5  BFECAHH  BFECAHA
 0         NaN      NaN      NaN
 1         NaN      NaN      NaN
 2         NaN      NaN      NaN
 3         NaN      NaN      NaN
 4         NaN      NaN      NaN
 ..        ...      ...      ...
 301      3.70     1.92     2.06
 302      2.92     1.85     2.16
 303      3.50     2.07     1.90
 304      3.70     2.04     1.94
 305      2.40     1.99     1.99

 [3060 rows x 153 columns],
 'English Premier League':     Div  season        Date       HomeTeam     AwayTeam  FTHG  FTAG FTR  HTHG  \
 0    E0      15  08/08/2015    Bournemouth  Aston Villa     0     1   A     0
 1    E0      15  08/08/2015        Chelsea      Swansea     2     2   D     2
 2    E0      15  08/08/2015        Everton      Watford     2     2   D     0
 3    E0      15  08/08/2015      Leicester   Sunderland     4     2   H     3
 4    E0      15  08/08/2015     Man United    Tottenham     1     0   H     1
 ..   ..     ...         ...            ...          ...   ...   ...  ..   ...
 375  E0      24  25/05/2025      Newcastle      Everton     0     1   A     0
 376  E0      24  25/05/2025  Nott'm Forest      Chelsea     0     1   A     0
 377  E0      24  25/05/2025    Southampton      Arsenal     1     2   A     0
 378  E0      24  25/05/2025      Tottenham     Brighton     1     4   A     1
 379  E0      24  25/05/2025         Wolves    Brentford     1     1   D     0

      HTAG  ...  1XBCH 1XBCD  1XBCA  BFECH  BFECD  BFECA  BFEC>2.5  BFEC<2.5  \
 0       0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
 1       1  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
 2       1  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
 3       0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
 4       0  ...    NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
 ..    ...  ...    ...   ...    ...    ...    ...    ...       ...       ...
 375     0  ...   1.30  6.11  10.20   1.27    7.0  13.00      1.50      2.94
 376     0  ...   3.50  3.86   2.06   3.55    3.9   2.14      1.76      2.28
 377     1  ...  12.20  6.11   1.28  13.00    6.8   1.28      1.45      3.15
 378     0  ...   3.63  4.12   1.95   3.95    4.2   1.93      1.51      2.92
 379     1  ...   2.98  3.80   2.31   3.05    3.8   2.42      1.54      2.78

      BFECAHH  BFECAHA
 0        NaN      NaN
 1        NaN      NaN
 2        NaN      NaN
 3        NaN      NaN
 4        NaN      NaN
 ..       ...      ...
 375     1.93     2.05
 376     1.86     2.14
 377     2.06     1.89
 378     2.06     1.93
 379     1.89     2.10

 [3800 rows x 154 columns],
 'English League 1':     Div  season        Date      HomeTeam      AwayTeam  FTHG  FTAG FTR  HTHG  \
 0    E2      15    08/08/15        Burton    Scunthorpe   2.0   1.0   H   0.0
 1    E2      15    08/08/15  Chesterfield      Barnsley   3.0   1.0   H   0.0
 2    E2      15    08/08/15    Colchester     Blackpool   2.0   2.0   D   1.0
 3    E2      15    08/08/15      Coventry         Wigan   2.0   0.0   H   1.0
 4    E2      15    08/08/15         Crewe     Port Vale   0.0   0.0   D   0.0
 ..   ..     ...         ...           ...           ...   ...   ...  ..   ...
 547  E2      24  03/05/2025   Northampton         Wigan   1.0   1.0   D   1.0
 548  E2      24  03/05/2025       Reading      Barnsley   2.0   4.0   A   0.0
 549  E2      24  03/05/2025     Rotherham     Peterboro   2.0   1.0   H   1.0
 550  E2      24  03/05/2025    Shrewsbury  Crawley Town   1.0   2.0   A   0.0
 551  E2      24  03/05/2025       Wycombe     Stockport   1.0   3.0   A   1.0

      HTAG  ... 1XBCH 1XBCD  1XBCA  BFECH  BFECD  BFECA  BFEC>2.5  BFEC<2.5  \
 0     0.0  ...   NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
 1     1.0  ...   NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
 2     2.0  ...   NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
 3     0.0  ...   NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
 4     0.0  ...   NaN   NaN    NaN    NaN    NaN    NaN       NaN       NaN
 ..    ...  ...   ...   ...    ...    ...    ...    ...       ...       ...
 547   0.0  ...  2.36  3.31   2.91   2.50   3.25   3.25      2.40      1.69
 548   0.0  ...  1.66  3.91   4.76   1.70   4.30   5.30      1.60      2.58
 549   1.0  ...  1.75  4.16   4.06   1.80   4.50   4.30      1.46      3.05
 550   0.0  ...  2.71  3.41   2.46   2.82   4.00   2.50      1.69      2.38
 551   0.0  ...  2.56  3.11   2.81   2.70   3.20   3.00      2.46      1.66

      BFECAHH  BFECAHA
 0        NaN      NaN
 1        NaN      NaN
 2        NaN      NaN
 3        NaN      NaN
 4        NaN      NaN
 ..       ...      ...
 547     2.13     1.84
 548     1.87     2.11
 549     1.98     2.00
 550     2.11     1.87
 551     1.88     2.11

 [5369 rows x 154 columns],
 'English League 2':     Div  season        Date        HomeTeam            AwayTeam  FTHG  FTAG  \
 0    E3      15    08/08/15      Accrington               Luton   1.0   1.0
 1    E3      15    08/08/15   AFC Wimbledon            Plymouth   0.0   2.0
 2    E3      15    08/08/15     Bristol Rvs         Northampton   0.0   1.0
 3    E3      15    08/08/15       Cambridge      Newport County   3.0   0.0
 4    E3      15    08/08/15          Exeter              Yeovil   3.0   2.0
 ..   ..     ...         ...             ...                 ...   ...   ...
 547  E3      24  03/05/2025       Morecambe           Harrogate   1.0   2.0
 548  E3      24  03/05/2025  Newport County            Tranmere   1.0   4.0
 549  E3      24  03/05/2025    Notts County           Doncaster   1.0   2.0
 550  E3      24  03/05/2025       Port Vale          Gillingham   0.0   1.0
 551  E3      24  03/05/2025         Swindon  Milton Keynes Dons   0.0   0.0

     FTR  HTHG  HTAG  ... 1XBCH 1XBCD  1XBCA  BFECH  BFECD  BFECA  BFEC>2.5  \
 0     D   0.0   0.0  ...   NaN   NaN    NaN    NaN    NaN    NaN       NaN
 1     A   0.0   1.0  ...   NaN   NaN    NaN    NaN    NaN    NaN       NaN
 2     A   0.0   0.0  ...   NaN   NaN    NaN    NaN    NaN    NaN       NaN
 3     H   1.0   0.0  ...   NaN   NaN    NaN    NaN    NaN    NaN       NaN
 4     H   2.0   0.0  ...   NaN   NaN    NaN    NaN    NaN    NaN       NaN
 ..   ..   ...   ...  ...   ...   ...    ...    ...    ...    ...       ...
 547   A   1.0   2.0  ...  2.74  3.59   2.34   2.92   3.65   2.56      1.81
 548   A   1.0   1.0  ...  4.18  3.68   1.79   4.50   4.00   1.88      1.93
 549   A   0.0   2.0  ...  2.85  3.71   2.23   2.96   3.80   2.46      1.73
 550   A   0.0   0.0  ...  1.41  4.29   7.93   1.48   4.70   8.00      1.92
 551   D   0.0   0.0  ...  1.78  3.85   4.05   1.88   4.10   4.30      1.72

      BFEC<2.5  BFECAHH  BFECAHA
 0         NaN      NaN      NaN
 1         NaN      NaN      NaN
 2         NaN      NaN      NaN
 3         NaN      NaN      NaN
 4         NaN      NaN      NaN
 ..        ...      ...      ...
 547      2.18     1.81     2.22
 548      2.04     1.84     2.13
 549      2.28     1.85     2.15
 550      2.04     2.09     1.86
 551      2.34     2.11     1.86

 [5409 rows x 154 columns]}

In [37]:
dict_historical_data.keys()

dict_keys(['Spanish La Liga', 'Spanish Segunda Division', 'German Bundesliga', 'English Premier League', 'English League 1', 'English League 2'])

In [38]:
dict_historical_data['Spanish La Liga']

,Div,season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,1XBCH,1XBCD,1XBCA,BFECH,BFECD,BFECA,BFEC>2.5,BFEC<2.5,BFECAHH,BFECAHA
0,SP1,15,21/08/15,Malaga,Sevilla,0,0,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SP1,15,22/08/15,Ath Madrid,Las Palmas,1,0,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SP1,15,22/08/15,Espanol,Getafe,1,0,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SP1,15,22/08/15,La Coruna,Sociedad,0,0,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SP1,15,22/08/15,Vallecano,Valencia,0,0,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,SP1,24,24/05/2025,Getafe,Celta,1,2,A,1,1,...,4.85,3.88,1.77,5.30,3.9,1.79,2.08,1.89,1.95,2.03
376,SP1,24,24/05/2025,Vallecano,Mallorca,0,0,D,0,0,...,1.53,4.19,7.29,1.50,4.6,8.20,2.10,1.87,1.85,2.14
377,SP1,24,25/05/2025,Girona,Ath Madrid,0,4,A,0,0,...,3.48,3.57,2.16,3.50,3.7,2.24,1.60,2.64,2.04,1.94
378,SP1,24,25/05/2025,Villarreal,Sevilla,4,2,H,3,1,...,1.75,4.42,4.30,1.80,4.3,4.60,1.60,2.62,2.03,1.95
379,SP1,24,25/05/2025,Ath Bilbao,Barcelona,0,3,A,0,2,...,3.49,4.00,2.03,3.35,4.0,2.18,1.47,3.05,2.07,1.91